<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="88ejTObTXzwTBCqhKY7hgV2h76YhX_YSUSAGP38hiWc" />
    <link rel="stylesheet" href="~/Content/EstiloLayout.css" />
    <title>Milservicios</title>
</head>
<body>
    <header id="Cabecera">
        <a href="/Home/Index" id="IconoPagina"></a>         
        <nav id="BloqueIzquierdo">
            <ul id="Cuadro1">                
                <li id="CuadradoC">@Html.ActionLink("Contacto", "Contact", "Home")</li>
                <li id="CuadradoD">@Html.ActionLink("Quienes Somos", "WhoWeAre", "Home")</li>
                <!-- 
                <li id="CuadradoE">@Html.ActionLink("Crear anuncio", "TipoAnuncios", "GestionAnuncios")</li>
                -->
            </ul>
        </nav>        
            <nav id="BloqueDerecho">                
                <ul id="Cuadro2"> 
                    <!--
                    <li id="Cuadrado1">@Html.ActionLink("Acceder", "Acceso", "ControlWeb")</li>
                    <li id="Cuadrado2">@Html.ActionLink("Registro", "RegistroUsuario", "ControlWeb")</li>
                    -->
                    <li id="Cuadrado3"><a href="/Home/Index" id="IconoPagina1"></a></li>
                    <li id="Cuadrado4"><a href="/Perfil/PerfilProfesional" id="IconoPagina2"></a></li>
                    
                </ul>
            </nav> 
    </header>
         <!--PIE DE PAGINA -->
    <footer>
        @RenderBody()
        <br />       
         <p>&copy; @DateTime.Now.Year - Milservicios.</p> 
    </footer> 

</body>
</html>
