@{
    string[] palabras = new string[9];
    palabras[0] = "Alberto";
    palabras[1] = "de Marcos Molina";
    palabras[2] = "679213821";
    palabras[3] = "alberto@gmail.com";
    palabras[4] = "Alcala del henares";
    palabras[5] = "Hombre";
    palabras[6] = "25";
    palabras[7] = "Informatico de la UAH";
    palabras[8] = "Corredor del henares";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Perfiles/PerfilAmbos.css" />
</head>
<body>
    <!-- CABECERA WEB -->
    <header id="PA-Header">
        <h1 id="PA-TituloPrincipal">Perfil de Ambos</h1>
    </header>
    <!-- CUADRO PRINCIPAL DE LA PAGINA WEB PERFIL FAMILIA-->
    <section id="PA-CuadroCentral">
        <h3 id="PA-Informacion">Informacion General</h3>
        <br />
        <!-- Cuadrado A -->
        <section id="PA-CuadradoA">
            <!-- Foto de perfil-->
            <section>
                <img id="PA-Foto" src="~/imagenes/foto.png" />
            </section>
            <!-- Cuadrado C -->
            <section id="PA-CuadradoC">
                <a href="/Perfil/ModificarPerfilProfesional"><section id="PA-Link1">Editar perfil</section></a>
                <a href="/GestionAnuncios/TipoAnuncios"><section id="PA-Link2">Crea anuncio</section></a>
                <a href="/GestionAnuncios/VistaAnuncios"><section id="PA-Link3">Ver anuncios</section></a>
                <a href="/Perfil/ModificarPerfilFamilia"><section id="PA-Link4">Ver reservas</section></a>
            </section>
        </section>
        <!-- Cuadrado B -->
        <section id="PA-CuadradoB">
            <!-- Cuadrado Izquierdo-->
            <section id="PA-Cuadrado1">
                <!-- Primera fila - Nombre -->
                <section>
                    <section id="PA-NombreT">Nombre</section>
                    <section id="PA-NombreC">@palabras[0]</section>
                    <br />
                </section>
                <br />
                <!-- Segunda fila - Apellidos -->
                <section>
                    <section id="PA-ApellidoT">Apellidos</section>
                    <section id="PA-ApellidoC">@palabras[1]</section>
                    <br />
                </section>
                <br />
                <!-- Tercera fila - Telefono -->
                <section>
                    <section id="PA-TelefonoT">Telefono</section>
                    <section id="PA-TelefonoC">@palabras[2]</section>
                    <br />
                </section>
                <br />
                <!-- Cuarta fila - Email -->
                <section>
                    <section id="PA-EmailT">Email</section>
                    <section id="PA-EmailC">@palabras[3]</section>
                    <br />
                </section>
                <br />
                <!-- Quinta fila - Ciudad -->
                <section>
                    <section id="PA-CiudadT">Ciudad</section>
                    <section id="PA-CiudadC">@palabras[4]</section>
                    <br />
                </section>
                <br />
                <!-- Sexta fila - Sexo -->
                <section>
                    <section id="PA-SexoT">Sexo</section>
                    <section id="PA-SexoC">@palabras[5]</section>
                    <br />
                </section>
                <br />
                <!-- Septima fila - Edad -->
                <section>
                    <section id="PA-EdadT">Edad</section>
                    <section id="PA-EdadC">@palabras[6]</section>
                    <br />
                </section>
                <br />
                <!-- Octava fila - Descripcion -->
                <section>
                    <section id="PA-DescripcionT">Descripcion</section>
                    <section id="PA-DescripcionC">@palabras[7]</section>
                    <br />
                </section>
                <br />
                <!-- Novena fila - Zona -->
                <section>
                    <section id="PA-ZonaT">Zona</section>
                    <section id="PA-ZonaC">@palabras[8]</section>
                    <br />
                </section>
                <br />
            </section>
            <!-- Cuadrado Derecho-->
            <section id="PA-Cuadrado2">
                <h3 id="PA-MapaTitulo">Mapa de localizacion</h3>
                <section id="PA-CuadroMap">
                    <script>
                        function initMap() {
                            //Mapa
                            var map = new google.maps.Map(document.getElementById('PA-CuadroMap'), {
                                zoom: 17,
                                center: { lat: 40.513034, lng: -3.348728 },
                                mapTypeControl: true,
                                mapTypeControlOptions: {
                                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                                    position: google.maps.ControlPosition.TOP_CENTER
                                },
                                zoomControl: true,
                                zoomControlOptions: {
                                    position: google.maps.ControlPosition.LEFT_CENTER
                                },
                                scaleControl: true,
                                streetViewControl: true,
                                streetViewControlOptions: {
                                    position: google.maps.ControlPosition.LEFT_TOP
                                },
                                fullscreenControl: true
                            });
                            var marker = new google.maps.Marker({
                                position: { lat: 40.513034, lng: -3.348728 },
                                map: map,
                                title: 'Usted se encuentra aquí'
                            });
                        }
                    </script>
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZQp616kSgYGzMCGI7lXIRWF8G3Qsmvg0&callback=initMap"></script>
                </section>
            </section>
        </section>
    </section>
</body>
</html>

