@{ 
    string[] palabras = new string [5];
    palabras[0] = "Alberto";
    palabras[1] = "de Marcos Molina";
    palabras[2] = "679213821";
    palabras[3] = "alberto@gmail.com";
    palabras[4] = "Alcala de Henares";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Perfiles/PerfilFamilia.css" />    
</head>
<body>
    <!-- CABECERA WEB -->
    <header id="PF-Header">        
        <h1 id="PF-TituloPrincipal">Perfil de Familia</h1>
    </header>
    <!-- CUADRO PRINCIPAL DE LA PAGINA WEB PERFIL FAMILIA-->
    <section id="PF-CuadroCentral">
        <h3 id="PF-Informacion">Informacion General</h3>
        <br />
        <!-- Cuadrado A -->
        <section id="PF-CuadradoA">
            <!-- Foto de perfil-->
            <section>
                <img id="PF-Foto" src="~/imagenes/foto.png"/>
            </section>
            <!-- Cuadrado C -->
            <section id="PF-CuadradoC">
                <a href="/Perfil/ModificarPerfilFamilia"><section id="PF-Link1">Editar perfil</section></a>
                <a href="/GestionAnuncios/TipoAnuncios"><section id="PF-Link2">Crea anuncio</section></a>
                <a href="/GestionAnuncios/VistaAnuncios"><section id="PF-Link3">Ver anuncios</section></a>
                <a href="/Perfil/ModificarPerfilFamilia"><section id="PF-Link4">Ver reservas</section></a>
            </section>
        </section>
        <!-- Cuadrado B -->
        <section id="PF-CuadradoB">
            <!-- Cuadrado Izquierdo-->
            <section id="PF-Cuadrado1">
                <!-- Primera fila - Nombre -->
                <section>
                    <section id="PF-NombreT">Nombre</section>
                    <section id="PF-NombreC">@palabras[0]</section>
                    <br />
                </section>
                <br />
                <!-- Segunda fila - Apellidos -->
                <section>
                    <section id="PF-ApellidoT">Apellidos</section>
                    <section id="PF-ApellidoC">@palabras[1]</section>
                    <br />
                </section>
                <br />
                <!-- Tercera fila - Telefono -->
                <section>
                    <section id="PF-TelefonoT">Telefono</section>
                    <section id="PF-TelefonoC">@palabras[2]</section>
                    <br />
                </section>
                <br />
                <!-- Cuarta fila - Email -->
                <section>
                    <section id="PF-EmailT">Email</section>
                    <section id="PF-EmailC">@palabras[3]</section>
                    <br />
                </section>
                <br />
                <!-- Quinta fila - Ciudad -->
                <section>
                    <section id="PF-CiudadT">Ciudad</section>
                    <section id="PF-CiudadC">@palabras[4]</section>
                    <br />
                </section>
                <br />
            </section>
            <!-- Cuadrado Derecho-->
            <section id="PF-Cuadrado2">
                <h3 id="PF-MapaTitulo">Mapa de localizacion</h3>
                <section id="PF-CuadroMap">
                    <script>
                        function initMap() {
                            //Mapa
                            var map = new google.maps.Map(document.getElementById('PF-CuadroMap'), {
                                zoom: 17,
                                center: { lat: 40.513034, lng: -3.348728 },
                                mapTypeControl: true,
                                mapTypeControlOptions: {
                                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                                    position: google.maps.ControlPosition.TOP_CENTER
                                },
                                zoomControl: true,
                                zoomControlOptions: {
                                    position: google.maps.ControlPosition.LEFT_CENTER
                                },
                                scaleControl: true,
                                streetViewControl: true,
                                streetViewControlOptions: {
                                    position: google.maps.ControlPosition.LEFT_TOP
                                },
                                fullscreenControl: true
                            });
                            var marker = new google.maps.Marker({
                                position: { lat: 40.513034, lng: -3.348728 },
                                map: map,
                                title: 'Usted se encuentra aquí'
                            });
                        }
                    </script>
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZQp616kSgYGzMCGI7lXIRWF8G3Qsmvg0&callback=initMap"></script>
                </section>
            </section>
        </section>
    </section>    
</body>
</html>

